<%- include('./includes/head.ejs') %>

    <body>
        <!-- Pre-loader start -->
        <div class="theme-loader">
            <div class="loader-track">
                <div class="preloader-wrapper">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pre-loader end -->
        <%- include('./includes/navigation.ejs') %>

                        <div class="pcoded-content">
                            <!-- Page-header start -->
                            <%- include('./includes/pageHeader.ejs') %>
                            <!-- Page-header end -->
                            <div class="pcoded-inner-content">
                                <!-- Main-body start -->
                                <div class="main-body">
                                    <div class="page-wrapper">
                                        <!-- Page-body start -->
                                        <div class="page-body">
                                            <div class="row">
                                                <!-- Material statustic card start -->
                                                <div class="col-xl-8 col-md-12">
                                                    <div
                                                        class="
                                                            card
                                                            mat-stat-card
                                                        "
                                                    >
                                                        <div class="card-block">
                                                            <div
                                                                class="
                                                                    row
                                                                    align-items-center
                                                                    b-b-default
                                                                "
                                                            >
                                                                <div
                                                                    class="
                                                                        col-sm-6
                                                                        b-r-default
                                                                        p-b-20
                                                                        p-t-20
                                                                    "
                                                                >
                                                                    <div
                                                                        class="
                                                                            row
                                                                            align-items-center
                                                                            text-center
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="
                                                                                col-4
                                                                                p-r-0
                                                                            "
                                                                        >
                                                                            <i
                                                                                class="
                                                                                   fas fa-file-signature
                                                                                "
                                                                            ></i>
                                                                        </div>
                                                                        <div
                                                                            class="
                                                                                col-8
                                                                                p-l-0
                                                                            "
                                                                        >
                                                                            <h5>
                                                                                <%=
                                                                                list_name
                                                                                %>
                                                                            </h5>
                                                                            <p
                                                                                class="
                                                                                    text-muted
                                                                                    m-b-0
                                                                                "
                                                                            >
                                                                                List
                                                                                Name
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="
                                                                        col-sm-6
                                                                        p-b-20
                                                                        p-t-20
                                                                    "
                                                                >
                                                                    <div
                                                                        class="
                                                                            row
                                                                            align-items-center
                                                                            text-center
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="
                                                                                col-4
                                                                                p-r-0
                                                                            "
                                                                        >
                                                                            <i
                                                                                class="
                                                                                    far fa-address-card
                                                                                "
                                                                            ></i>
                                                                        </div>
                                                                        <div
                                                                            class="
                                                                                col-8
                                                                                p-l-0
                                                                            "
                                                                        >
                                                                            <h5>
                                                                                <%=
                                                                                list_id
                                                                                %>
                                                                            </h5>
                                                                            <p
                                                                                class="
                                                                                    text-muted
                                                                                    m-b-0
                                                                                "
                                                                            >
                                                                                List
                                                                                ID
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="
                                                                    row
                                                                    align-items-center
                                                                "
                                                            >
                                                                <div
                                                                    class="
                                                                        col-sm-6
                                                                        p-b-20
                                                                        p-t-20
                                                                        b-r-default
                                                                    "
                                                                >
                                                                    <div
                                                                        class="
                                                                            row
                                                                            align-items-center
                                                                            text-center
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="
                                                                                col-4
                                                                                p-r-0
                                                                            "
                                                                        >
                                                                            <i
                                                                                class="
                                                                                    fas fa-clock
                                                                                "
                                                                            ></i>
                                                                        </div>
                                                                        <div
                                                                            class="
                                                                                col-8
                                                                                p-l-0
                                                                            "
                                                                        >
                                                                            <h5>
                                                                                <%=
                                                                                date_created
                                                                                %>
                                                                            </h5>
                                                                            <p
                                                                                class="
                                                                                    text-muted
                                                                                    m-b-0
                                                                                "
                                                                            >
                                                                                Date
                                                                                Created
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="
                                                                        col-sm-6
                                                                        p-b-20
                                                                        p-t-20
                                                                    "
                                                                >
                                                                    <div
                                                                        class="
                                                                            row
                                                                            align-items-center
                                                                            text-center
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="
                                                                                col-4
                                                                                p-r-0
                                                                            "
                                                                        >
                                                                            <i
                                                                                class="
                                                                                    far
                                                                                    fa-envelope-open
                                                                                    text-c-blue
                                                                                    f-24
                                                                                "
                                                                            ></i>
                                                                        </div>
                                                                        <div
                                                                            class="
                                                                                col-8
                                                                                p-l-0
                                                                            "
                                                                        >
                                                                            <h5>
                                                                                <%=
                                                                                permission_reminder
                                                                                %>
                                                                            </h5>
                                                                            <p
                                                                                class="
                                                                                    text-muted
                                                                                    m-b-0
                                                                                "
                                                                            >
                                                                                Permission
                                                                                Reminder
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-md-12">
                                                    <div
                                                        class="
                                                            card
                                                            mat-clr-stat-card
                                                            text-white
                                                            green
                                                        "
                                                    >
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div
                                                                    class="
                                                                        col-3
                                                                        text-center
                                                                        bg-c-green
                                                                    "
                                                                >
                                                                    <i
                                                                        class="
                                                                           fas
                                                                            fa-star
                                                                            mat-icon
                                                                            f-24
                                                                        "
                                                                    ></i>
                                                                </div>
                                                                <div
                                                                    class="
                                                                        col-9
                                                                        cst-cont
                                                                    "
                                                                >
                                                                    <h5>
                                                                        SYSTEM
                                                                        HEALTH
                                                                    </h5>
                                                                    <p
                                                                        class="
                                                                            m-b-0
                                                                        "
                                                                    >
                                                                        <%=
                                                                        system
                                                                        %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="
                                                            card
                                                            mat-clr-stat-card
                                                            text-white
                                                            blue
                                                        "
                                                    >
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div
                                                                    class="
                                                                        col-3
                                                                        text-center
                                                                        bg-c-blue
                                                                    "
                                                                >
                                                                    <i
                                                                        class="
                                                                            fas
                                                                            fa-trophy
                                                                            mat-icon
                                                                            f-24
                                                                        "
                                                                    ></i>
                                                                </div>
                                                                <div
                                                                    class="
                                                                        col-9
                                                                        cst-cont
                                                                    "
                                                                >
                                                                    <h5>
                                                                        <%=
                                                                        list_id
                                                                        %>
                                                                    </h5>
                                                                    <p
                                                                        class="
                                                                            m-b-0
                                                                        "
                                                                    >
                                                                        Audience
                                                                        / List
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Material statustic card end -->
                                                <!-- order-visitor start -->

                                                <!-- order-visitor end -->

                                                

                                                <!-- Project statustic start -->
                                                <div class="col-xl-12">
                                                    <div
                                                        class="
                                                            card
                                                            proj-progress-card
                                                        "
                                                    ></div>
                                                </div>
                                                <!-- Project statustic end -->
                                            </div>
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                    <div id="styleSelector"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <%- include('./includes/end.ejs') %>
    </body>
</html>
